<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ON4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
      <add name="connString" connectionString="Server=.;DataBase=Calorimeter1;Uid=sa;Pwd=123" />
      <add name="cnn" connectionString="Server=.;DataBase=Calorimeter1;Uid=sa;Pwd=123" />
      <add name="ON4.Properties.Settings.Calorimeter1ConnectionString"
          connectionString="Data Source=.;Initial Catalog=Calorimeter1;User ID=sa;Password=123"
          providerName="System.Data.SqlClient" />
      <add name="Calorimeter1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Calorimeter1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="Calorimeter1Entities2" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Calorimeter1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="Calorimeter1Entities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Calorimeter1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="Calorimeter1Entities3" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Calorimeter1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="Calorimeter1Entities4" connectionString="metadata=res://*/Model4.csdl|res://*/Model4.ssdl|res://*/Model4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Calorimeter1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="ON4.Properties.Settings.Calorimeter1ConnectionString1"
          connectionString="Data Source=.;Initial Catalog=Calorimeter1;User ID=sa;Password=123"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <ON4.Properties.Settings>
        <setting name="timer" serializeAs="String">
            <value />
        </setting>
        <setting name="Recording" serializeAs="String">
            <value />
        </setting>
        <setting name="ControlComName" serializeAs="String">
            <value />
        </setting>
        <setting name="cboPot1" serializeAs="String">
            <value />
        </setting>
        <setting name="cboPot2" serializeAs="String">
            <value />
        </setting>
        <setting name="cboPot3" serializeAs="String">
            <value />
        </setting>
        <setting name="cboPot4" serializeAs="String">
            <value />
        </setting>
        <setting name="cboPot5" serializeAs="String">
            <value />
        </setting>
        <setting name="cboPot6" serializeAs="String">
            <value />
        </setting>
        <setting name="cboPot7" serializeAs="String">
            <value />
        </setting>
        <setting name="cboPot8" serializeAs="String">
            <value />
        </setting>
        <setting name="启用继电器控制" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="启用清零" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="启用检定" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="记录楼层" serializeAs="String">
            <value>全部</value>
        </setting>
        <setting name="启用计费" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="启用自动记录" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="从__点到" serializeAs="String">
            <value>8</value>
        </setting>
        <setting name="__开始自动记录" serializeAs="String">
            <value>20</value>
        </setting>
        <setting name="每隔__小时记录一次" serializeAs="String">
            <value>一个</value>
        </setting>
        <setting name="自动连接串口" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="楼层五串口" serializeAs="String">
            <value>COM51</value>
        </setting>
        <setting name="楼层六串口" serializeAs="String">
            <value>COM61</value>
        </setting>
        <setting name="五层阀门串口" serializeAs="String">
            <value>COM52</value>
        </setting>
        <setting name="六层阀门串口" serializeAs="String">
            <value>COM62</value>
        </setting>
        <setting name="楼层三串口" serializeAs="String">
            <value>COM31</value>
        </setting>
        <setting name="楼层四串口" serializeAs="String">
            <value>COM41</value>
        </setting>
        <setting name="三层阀门串口" serializeAs="String">
            <value>COM32</value>
        </setting>
        <setting name="四层阀门串口" serializeAs="String">
            <value>COM42</value>
        </setting>
        <setting name="启用费用编辑" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="启用缴费编辑" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="启用缴费删除" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="启用费用统计编辑" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="启用费用统计删除" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="允许修改额度" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="小时触发" serializeAs="String">
            <value>20</value>
        </setting>
        <setting name="时间间隔" serializeAs="String">
            <value>1</value>
        </setting>
        <setting name="读表失败处理时间" serializeAs="String">
            <value>5</value>
        </setting>
        <setting name="三层阀门串口2" serializeAs="String">
            <value>COM30</value>
        </setting>
        <setting name="四层阀门串口2" serializeAs="String">
            <value>COM40</value>
        </setting>
        <setting name="五层阀门串口2" serializeAs="String">
            <value>COM50</value>
        </setting>
        <setting name="六层阀门串口2" serializeAs="String">
            <value>COM60</value>
        </setting>
    </ON4.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>